{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show jumbotron">
    <h2>Mon Compte</h2>
    <hr>
    <p>{{ 'profile.show.username'|trans }} : {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
    <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
</div>
